@charset "UTF-8";
.sm-mg {
  margin: 24px 0;
}

.md-mg {
  margin: 36px 0;
}

h1 {
  font-size: clamp(48px, 3vw, 62px);
}

h2 {
  font-size: clamp(36px, 3vw, 52px);
}

h3 {
  font-size: clamp(20px, 3vw, 28px);
}

h4 {
  font-size: clamp(18px, 3vw, 24px);
}

p {
  font-size: clamp(14px, 3vw, 18px);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-80%);
  }
}
.trust-section .splide__track ul {
  animation: scroll 30s linear infinite;
}
.trust-section .splide__track ul li .client-item {
  width: 200px;
  height: 80px;
  border-radius: 12px;
  border: 1px solid rgba(194, 194, 194, 0.4);
  align-content: center;
}
.trust-section .splide__track ul li .client-item img {
  width: 40%;
}

header .navbar {
  display: grid;
  grid-template-columns: 1fr 3fr 0fr 1fr;
  align-items: center;
  justify-items: anchor-center;
  padding: 10px 20px;
  position: relative;
}
header .navbar img {
  width: 120px;
}
header .navbar nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  justify-content: center;
}
header .navbar nav ul a {
  text-decoration: none;
  color: #252525;
  font-weight: 500;
  padding: 5px 10px;
}
header .navbar nav ul a:hover {
  color: #604AAF;
}
header .navbar nav ul .dropdown .dropdown-menu {
  display: none;
  position: absolute;
  background-color: #F5F6FE;
  width: 100%;
  top: 100%;
  left: 0;
  padding: 10px 0;
  z-index: 1;
  pointer-events: none;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
header .navbar nav ul .dropdown .dropdown-menu ul {
  display: flex;
  justify-content: center;
}
header .navbar nav ul .dropdown .dropdown-menu ul li {
  width: 100%;
}
header .navbar nav ul .dropdown .dropdown-menu ul li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #252525;
}
header .navbar nav ul .dropdown:hover .dropdown-menu {
  display: block;
}
header .navbar nav ul .dropdown:hover .dropdown-menu,
header .navbar nav ul .dropdown-menu:hover {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
header .navbar .search {
  padding-right: 20px;
}
header .navbar .search input {
  display: none;
  padding: 5px;
  width: 200px;
  transition: all 0.3s ease;
}
header .navbar .search .search-icon {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}
header .navbar .search .search-icon img {
  width: 24px;
  height: 24px;
}
header .hero {
  display: flex;
  gap: 20px;
  position: relative;
}
header .hero img {
  width: 100%;
}
header .hero h1 {
  position: absolute;
  top: 5vw;
  left: 43%;
  font-size: 7rem;
  font-weight: bold;
  text-align: right;
  line-height: 1.2;
}
header .hero h1 .span-text {
  color: #604AAF;
}
header .hero .hero-text {
  width: 90%;
  position: relative;
  align-content: end;
}

@media (max-width: 1360px) {
  header .hero h1 {
    position: absolute;
    top: 12vw;
    left: 14%;
    width: 80%;
    font-size: 5rem;
    line-height: 1;
    padding-right: 60px;
  }
}
@media (max-width: 970px) {
  header .hero {
    overflow: hidden;
  }
  header .hero img {
    width: auto;
    position: absolute;
    left: 0;
    top: 0;
  }
  header .hero .hero-text {
    padding-top: 60%;
  }
}
@media (max-width: 760px) {
  header .navbar {
    display: flex;
    justify-content: space-between;
  }
  header .navbar nav ul {
    display: none;
  }
  header .navbar .quote-btn {
    display: none;
  }
  header .hero {
    flex-wrap: wrap;
  }
  header .hero img {
    display: none;
  }
  header .hero h1 {
    position: relative;
    width: 100%;
    top: 5vw;
    left: 0;
    text-align: left;
  }
  header .hero .hero-text {
    width: 100%;
    padding-top: 0;
  }
}
footer .footer-container {
  display: flex;
  justify-content: space-between;
  margin: auto;
  text-align: left;
}
footer .footer-container img {
  width: 50%;
}
footer .footer-container .footer-column {
  width: 22%;
}
footer .footer-container .footer-column h4 {
  padding-bottom: 20px;
}
footer .footer-container .footer-column p {
  display: inline-grid;
  padding-bottom: 20px;
}
footer .footer-container .footer-column span {
  color: #634CB5;
}
footer .footer-container .footer-column ul {
  list-style: none;
  padding: 0;
}
footer .footer-container .footer-column ul li {
  margin: 15px 0;
  cursor: pointer;
}
footer .footer-container .footer-column ul li a {
  text-decoration: none;
  color: #252525;
}
footer .footer-container .footer-column ul li a:hover {
  color: #634CB5;
}
footer .footer-container .social-icons img {
  width: 20px;
  margin-right: 10px;
  cursor: pointer;
}
footer .company {
  text-align: center;
  border-top: 1px solid #252525;
  padding-top: 20px;
}

@media (max-width: 760px) {
  footer .footer-container .footer-column {
    display: none;
  }
}
* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

.tac {
  text-align: center;
}

.h-sec {
  color: #604AAF;
}

.quote-btn button {
  background-color: #F9C446;
  color: #252525;
  padding: 12px 24px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.quote-btn button:hover {
  background-color: #634CB5;
  color: #ffffff;
}

.wrapper-ver {
  padding-top: 80px;
  padding-bottom: 80px;
}

.about-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.about-section .about-text h2 {
  font-weight: 100;
}
.about-section .about-text .stat-info {
  background-color: #F5F6FE;
  border-radius: 16px;
  display: grid;
  padding: 20px 40px;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
}
.about-section .about-text .stat-info .stat-item {
  text-align: center;
  padding: 20px 4px;
  align-self: center;
}
.about-section .about-text .stat-info .stat-item .stat-number {
  font-size: 2rem;
  color: #604AAF;
  font-weight: bold;
}
.about-section .about-text .stat-info .stat-item:nth-child(1) {
  border-right: 2px solid #604AAF;
}
.about-section .about-text .stat-info .stat-item:nth-child(2) {
  border-right: 2px solid rgba(96, 74, 174, 0.2);
}
.about-section img {
  width: 100%;
}

.featured-section {
  background-color: #F5F6FE;
}
.featured-section .featured-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.featured-section .featured-main .featured-left {
  display: flex;
  gap: 10px;
}
.featured-section .featured-main .featured-left .lf-lf img {
  border-radius: 20px 0 0 20px;
}
.featured-section .featured-main .featured-left .lf-rg img {
  border-radius: 0 20px 20px 0;
  margin-top: 8em;
}
.featured-section .featured-main .featured-left img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
.featured-section .featured-main .featured-right {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.featured-section .featured-main .featured-right .featured-item {
  background: white;
  align-content: center;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
}
.featured-section .featured-main .featured-right .featured-item .feat-img {
  width: 60px;
  height: 60px;
  background-color: #634CB5;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.featured-section .featured-main .featured-right .featured-item .feat-img img {
  width: 40px;
  height: 40px;
}
.featured-section .featured-main .featured-right .featured-item:nth-child(2), .featured-section .featured-main .featured-right .featured-item:nth-child(4) {
  margin-top: 40px;
}
.featured-section .featured-main .featured-right .featured-item:nth-child(1), .featured-section .featured-main .featured-right .featured-item:nth-child(3) {
  margin-bottom: 20px;
}

.cta-section {
  background-color: #634CB5;
  color: white;
  border-radius: 20px;
  margin: 100px auto;
  max-width: 90%;
  position: relative;
}
.cta-section .cta-grid {
  position: relative;
  padding: 40px 12px;
}
.cta-section .cta-grid .cta-text {
  flex: 1;
  text-align: left;
  width: 60%;
}
.cta-section .cta-grid .cta-text .quote-btn button:hover {
  background-color: white;
  color: #252525;
}
.cta-section .cta-grid .cta-img {
  border-radius: 15px;
  position: absolute;
  bottom: -4px;
  right: 0;
}
.cta-section .cta-grid .cta-img img {
  width: 380px;
  height: 440px;
  border-radius: 20px 20px 0 0;
}

.choose-section .choose-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 30px;
}
.choose-section .choose-grid .choose-img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.choose-section .choose-grid .choose-img img {
  width: 380px;
  height: 540px;
  border-radius: 20px;
}
.choose-section .choose-grid .choose-text .choose-benefits .choose-item {
  display: flex;
  padding-bottom: 30px;
}
.choose-section .choose-grid .choose-text .choose-benefits .choose-item .choose-img {
  width: 80px;
  height: 80px;
  background-color: #634CB5;
  border-radius: 50%;
}
.choose-section .choose-grid .choose-text .choose-benefits .choose-item .choose-img img {
  width: 40px;
  height: 40px;
}
.choose-section .choose-grid .choose-text .choose-benefits .choose-item .benefits-text {
  align-self: center;
  padding-left: 20px;
}

.portfolio-section .portfolio-main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  gap: 20px;
}
.portfolio-section .portfolio-main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  aspect-ratio: 1/1;
}
.portfolio-section .portfolio-main img:first-child {
  grid-row: span 2;
}

.info-section {
  background-color: #F5F6FE;
}
.info-section .info-flex {
  display: flex;
  gap: 20px;
}
.info-section .info-flex .info-container {
  display: flex;
  gap: 20px;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.info-section .info-flex .info-container .info-item {
  width: 30%;
  background: white;
  align-content: center;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid rgba(194, 194, 194, 0.4);
  text-align: center;
}
.info-section .info-flex .info-container .info-item span {
  font-size: 2rem;
  font-weight: 600;
}

.feedback-section {
  background-color: #634CB5;
  color: white;
}
.feedback-section .feedback-slide ul li .feedback-item {
  display: flex;
  background: white;
  align-content: center;
  padding: 40px 20px;
  border-radius: 20px;
  text-align: left;
  color: #252525;
}
.feedback-section .feedback-slide ul li .feedback-item .feedback-img {
  padding-right: 20px;
}
.feedback-section .feedback-slide ul li .feedback-item .feedback-img img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.feedback-section .feedback-slide ul li .feedback-item .feedback-text h4 {
  color: #604AAF;
}
.feedback-section .feedback-slide ul li .feedback-item .feedback-text .rating {
  display: inline-block;
  font-size: 18px;
  letter-spacing: 8px;
  position: relative;
  color: gold;
}
.feedback-section .feedback-slide ul li .feedback-item .feedback-text .rating:before {
  content: "★★★★★";
  display: block;
}

.team-section .team-main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  justify-items: center;
}
.team-section .team-main .team-item:nth-child(2), .team-section .team-main .team-item:nth-child(4) {
  margin-top: 60px;
}
.team-section .team-main .team-item .team-img img {
  width: 100%;
  height: auto;
  border-radius: 20px 20px 0 0;
}
.team-section .team-main .team-item .team-text {
  text-align: center;
}

.news-sections .news-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
}
.news-sections .news-container .news-item {
  background: white;
  align-content: center;
  padding: 40px 20px;
  border-radius: 20px;
  text-align: left;
  border: 1px solid black;
}
.news-sections .news-container .news-item .tag {
  background-color: #F9C446;
  width: max-content;
  text-align: center;
  padding: 6px 16px;
  border-radius: 10px;
}
.news-sections .btn {
  justify-self: center;
}

.tecno-section .programm-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.tecno-section .programm-container img {
  width: 10%;
}

.contact-section {
  background-color: #F5F6FE;
}
.contact-section .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.contact-section .wrapper .contact-text .contact-item {
  display: flex;
}
.contact-section .wrapper .contact-text .contact-item .contact-icon {
  width: 60px;
  height: 60px;
  background-color: #634CB5;
  border-radius: 50%;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-section .wrapper .contact-text .contact-item .contact-icon img {
  width: 30px;
  height: 30px;
}
.contact-section .wrapper .contact-formular {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
}
.contact-section .wrapper .contact-formular .input-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 10px;
}
.contact-section .wrapper .contact-formular input, .contact-section .wrapper .contact-formular select, .contact-section .wrapper .contact-formular textarea {
  padding: 10px;
  border: 1px solid #ccc;
}
.contact-section .wrapper .contact-formular textarea {
  height: 200px;
  width: 96%;
}

.newsletter-section .subscribe-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  border-radius: 10px;
  width: 40%;
  background-color: white;
  border: 1px solid #ccc;
}
.newsletter-section .subscribe-box input {
  flex: 1;
  border: none;
  padding: 10px;
  outline: none;
}
.newsletter-section .subscribe-box button {
  background: #6c47ff;
  border: none;
  border-radius: 0 10px 10px 0;
  padding: 10px;
  cursor: pointer;
}
.newsletter-section .subscribe-box button img {
  width: 20px;
  height: 20px;
}

@media (max-width: 1360px) {
  .wrapper {
    max-width: 100%;
    padding: 0 20px;
  }
  .wrapper-ver {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .about-section .about-text .stat-info {
    padding: 20px 4px;
  }
  .about-section .about-text .stat-info .stat-item {
    padding: 20px 10px;
  }
  .cta-section .wrapper {
    margin-top: 160px;
  }
  .cta-section .wrapper .cta-grid .cta-text {
    width: 53%;
  }
}
@media (max-width: 970px) {
  .wrapper-ver {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .about-section {
    grid-template-columns: 1fr 0;
    position: relative;
    overflow: hidden;
  }
  .about-section .about-text {
    position: relative;
    z-index: 1;
  }
  .about-section .about-text h2 {
    width: 50%;
  }
  .about-section .about-text p {
    width: 50%;
  }
  .about-section .about-text .stat-info {
    width: 70%;
  }
  .about-section .about-text .stat-info .stat-item {
    text-align: center;
    padding: 20px 4px;
    align-self: center;
  }
  .about-section .about-text .stat-info .stat-item p {
    width: 100%;
  }
  .about-section img {
    width: auto;
    position: absolute;
    right: -240px;
    z-index: 0;
    top: 0;
  }
  .featured-section {
    background-color: #F5F6FE;
  }
  .featured-section .featured-main {
    display: block;
  }
  .featured-section .featured-main .featured-left {
    display: none;
  }
  .featured-section .featured-main .featured-right {
    display: grid;
    gap: 20px;
  }
  .featured-section .featured-main .featured-right .featured-item:nth-child(2), .featured-section .featured-main .featured-right .featured-item:nth-child(4) {
    margin-top: 0;
  }
  .featured-section .featured-main .featured-right .featured-item:nth-child(1), .featured-section .featured-main .featured-right .featured-item:nth-child(3) {
    margin-bottom: 0;
  }
  .cta-section .wrapper {
    margin-top: 0;
  }
  .cta-section .wrapper .cta-grid .cta-text {
    width: 100%;
  }
  .cta-section .wrapper .cta-grid .cta-img {
    display: none;
  }
  .choose-section .choose-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 30px;
  }
  .choose-section .choose-grid .choose-img img {
    width: 100%;
    height: auto;
  }
  .choose-section .choose-grid .choose-text .choose-benefits .choose-item .choose-img img {
    width: 60%;
    height: auto;
  }
  .choose-section .choose-grid .choose-text .choose-benefits .choose-item .benefits-text {
    align-self: center;
    padding-left: 20px;
  }
  .info-section {
    background-color: #F5F6FE;
  }
  .info-section .info-flex {
    display: flex;
    flex-wrap: wrap;
  }
  .info-section .info-flex .info-container {
    justify-content: space-between;
  }
  .info-section .info-flex .info-container .info-item {
    width: 40%;
  }
  .team-section .team-main {
    grid-template-columns: repeat(2, 1fr);
  }
  .team-section .team-main .team-item:nth-child(2), .team-section .team-main .team-item:nth-child(3) {
    display: none;
  }
  .news-sections .news-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    justify-items: center;
  }
  .contact-section {
    background-color: #F5F6FE;
  }
  .contact-section .wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .contact-section .wrapper .contact-text .contact-block {
    display: flex;
  }
  .contact-section .wrapper .contact-text .contact-block .contact-item {
    display: flex;
  }
  .contact-section .wrapper .contact-text .contact-block .contact-item .contact-icon {
    margin-right: 20px;
  }
  .contact-section .wrapper .contact-text .contact-block .contact-item .contact-item-text {
    padding-right: 20px;
  }
  .contact-section .wrapper .contact-formular {
    width: 100%;
  }
  .contact-section .wrapper .contact-formular .input-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 10px;
  }
  .contact-section .wrapper .contact-formular input, .contact-section .wrapper .contact-formular select, .contact-section .wrapper .contact-formular textarea {
    padding: 10px;
    border: 1px solid #ccc;
  }
  .contact-section .wrapper .contact-formular textarea {
    height: 200px;
    width: 96%;
  }
}
@media (max-width: 760px) {
  .about-section {
    grid-template-columns: 1fr 0;
    position: relative;
    overflow: hidden;
  }
  .about-section .about-text {
    position: relative;
    z-index: 1;
  }
  .about-section .about-text h2 {
    width: 100%;
  }
  .about-section .about-text p {
    width: 100%;
  }
  .about-section .about-text .stat-info {
    width: 100%;
  }
  .about-section .about-text .stat-info .stat-item p {
    width: 100%;
  }
  .about-section img {
    display: none;
  }
  .choose-section .choose-grid {
    grid-template-columns: 0 1fr;
  }
  .info-section .info-flex .info-container .info-item {
    width: 38%;
  }
  .contact-section .wrapper .contact-text .contact-block {
    justify-content: space-between;
  }
  .contact-section .wrapper .contact-text .contact-block .contact-item .contact-icon {
    display: none;
  }
  .newsletter-section {
    display: none;
  }
}
@media (max-width: 500px) {
  .about-section .about-text .stat-info .stat-item .stat-number {
    font-size: 1.5rem;
  }
  .featured-section .featured-main .featured-right {
    grid-template-columns: repeat(1, 1fr);
  }
  .info-section .info-flex .info-container .info-item {
    width: 33%;
  }
  .contact-section .wrapper .contact-formular .input-group {
    grid-template-columns: 1fr;
  }
  .contact-section .wrapper .contact-formular textarea {
    width: 92%;
  }
}

/*# sourceMappingURL=style.css.map */
