header {
  .navbar {
    display: grid;
    grid-template-columns: 1fr 3fr 0fr 1fr;
    align-items: center;
    justify-items: anchor-center;
    padding: 10px 20px;
    position: relative;

    img {
      width: 120px;
    }

    nav {
      ul {
        list-style: none;
        display: flex;
        gap: 20px;
        justify-content: center;

        a {
          text-decoration: none;
          color: $secondary-text-color;
          font-weight: 500;
          padding: 5px 10px;
          transition: color 0.3s ease;

          &:hover {
            color: $primary-text-color;
          }
        }

        .dropdown {
          position: relative;

          .dropdown-menu {
            position: absolute;
            background-color: $secondary-background-color;
            top: 100%;
            left: 0;
            padding: 10px 0;
            z-index: 1;
            opacity: 0;
            visibility: hidden;
            transform: translateY(-10px);
            transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
            pointer-events: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100vw;

            ul {
              display: flex;
              justify-content: center;
              padding: 0;
              margin: 0;

              li {
                width: 100%;
                list-style: none;

                a {
                  display: block;
                  padding: 10px;
                  text-decoration: none;
                  color: $secondary-text-color;
                }
              }
            }
          }
        }

        .dropdown:hover .dropdown-menu {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
          pointer-events: auto;
        }
      }
    }

    .search {
      padding-right: 20px;

      input {
        display: none;
        padding: 5px;
        width: 200px;
        transition: all 0.3s ease;
      }

      .search-icon {
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;

        img {
          width: 24px;
          height: 24px;
        }
      }
    }
  }

  .hero {
    display: flex;
    gap: 20px;
    position: relative;

    img {
      width: 100%;
    }

    h1 {
      position: absolute;
      top: 5vw;
      left: 43%;
      font-size: 7rem;
      font-weight: bold;
      text-align: right;
      line-height: 1.2;

      .span-text {
        color: $primary-text-color;
      }
    }

    .hero-text {
      width: 90%;
      position: relative;
      align-content: end;
    }
  }
}

@media (max-width: 1360px) {

  header {
    .hero {
      h1 {
        position: absolute;
        top: 12vw;
        left: 14%;
        width: 80%;
        font-size: 5rem;
        line-height: 1;
        padding-right: 60px;
      }
    }
  }

}

@media (max-width: 970px) {

  header {
    .hero {
      overflow: hidden;

      img {
        width: auto;
        position: absolute;
        left: 0;
        top: 0;
      }

      h1 {

      }

      .hero-text {
        padding-top: 60%;
      }
    }
  }

}

@media (max-width: 760px) {

  header {
    .navbar {
      display: flex;
      justify-content: space-between;

      nav {
        ul {
          display: none;
        }
      }

      .quote-btn {
        display: none;
      }

    }

    .hero {
      flex-wrap: wrap;

      img {
        display: none;
      }

      h1 {
        position: relative;
        width: 100%;
        top: 5vw;
        left: 0;
        text-align: left;
      }

      .hero-text {
        width: 100%;
        padding-top: 0;
      }
    }
  }

}